<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Opportunity</title>
    <link rel="stylesheet" href="/static/apply_form.css">
    <script>
        function displayPopup() {
            alert("Your application has been submitted successfully!");
        }
    </script>
</head>

<body>

    <div class="box">
        <h3>Applying for Opportunity - {{ opportunity_id }}</h3>
        <form action="{{ url_for('apply_opportunity') }}" method="post" enctype="multipart/form-data" onsubmit="displayPopup()">
            <input type="hidden" name="opportunity_id" value="{{ opportunity_id }}">
            <input type="hidden" name="student_id" value="{{ student_id }}">

            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" placeholder="Enter Your Name" class="input-box" required>

            <label for="resume">Upload Resume</label><br>
            <input type="text" name="resume" placeholder="Enter resume link" id="resume" class="input-box" required>
            <button type="submit"  class="btn">Submit Application</button>
        </form>
    </div>
</body>

</html>
