<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" href="/static/create_profile.css">
</head>
<script>
    function displayPopup() {
        alert("Opportunity has been created successfully!");
    }
</script>
<body>
    <div class="box">
        <h2 class="h3box">{{ title }}</h2>
        <form action="{{ url_for('create_profile_recruiter') }}" method="post" enctype="multipart/form-data" onsubmit="displayPopup()">

            <label for="firstName" class="label-box">First Name:</label>
            <input type="text" value="{{user_profile[2]}}" id="firstName" name="firstName" class="input-box" required>

            <label for="middleName" class="label-box">Middle Name:</label>
            <input type="text" value="{{user_profile[3]}}" id="middleName" name="middleName" class="input-box">

            <label for="lastName" class="label-box">Last Name:</label>
            <input type="text" value="{{user_profile[4]}}" id="lastName" name="lastName" class="input-box" required>

            <label for="designation" class="label-box">Designation:</label>
            <input type="text" value="{{user_profile[5]}}" id="department" name="designation" class="input-box" required>

            <label for="companyName" class="label-box">Company Name:</label>
            <input type="text" value="{{user_profile[-1]}}" id="companyName" name="companyName" class="input-box" required>

            <label for="contactNumber" class="label-box">Contact Number:</label>
            <input type="tel" value="{{user_profile[1]}}" id="contactNumber" name="contactNumber" class="input-box">

            <label for="interviewer" class="label-box">Are you an interviewer?</label>
            <select id="interviewer" name="interviewer" class="input-box">
                <option value="">Select</option>
                <option value="Yes" {% if user_profile[-2] == 'Yes' %}selected{% endif %}>Yes</option>
                <option value="No" {% if user_profile[-2] == 'No' %}selected{% endif %}>No</option>
            </select><br>

            <input type="submit" value="{{footer}}" class="btn">
        </form>
    </div>
</body>

</html>