<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/dashRecu.css">
    <title>Recruiter Dashboard</title>

</head>

<body>
    <div class="content">
        <div class="container">
            <!-- <h3 class="welocme">Welcome, {{ name }}</h3> -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="welocme">Welcome, {{ name }}</h1>
                <div>
                    <a class="button_custom" href="{{ url_for('recruiter_profile') }}">Profile</a>
                    <a class="button_custom" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <a class="button_custom" href="{{ url_for('created_opportunity') }}">Hosted Opportunity</a><br><br>
            <a class="button_custom" href="{{ url_for('create_opportunity') }}">Host New Opportunity</a><br><br>
        </div>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>